@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 2vw;
    font-weight: bold;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* Untuk IE dan Edge */
    scrollbar-width: none;  /* Untuk Firefox */
}
